{% extends 'loggedInIndex.html' %}

{% block content %}

    {% if error_status %}

	    <h3>Error Occurred: {{ error.msg }}</h3>

    {% endif %}

   <p>Title: {{ data.title }} </p>
   <p>Section: {{ data.section }} </p>
   <p>Department: {{ data.dept }} </p>
   <p>Term: {{ data.term }} </p>
   <p>Year: {{ data.year }} </p>
   <p>Instructor Name: {% for i in data.instructor %}{{ i.name }}{% endfor %} </p>
    <p>Instructor Email: {% for i in data.instructor %}{{ i.email}}{% endfor %} </p>
   <p>Days: {{ data.days|join:"," }} </p>
   <p>Hours: {{ data.hours|join:"," }} </p>

{% endblock %}